@import 'partials/variables';

#ContentProgress {
  display: contents;
  min-height: 0;
  & .sub-container {
    min-height: initial;
  }
}

.headMobile {
  display: none;
}

.headCrumbs {
  display: flex;
  margin: 40px auto;
  user-select: none;
  width: 615px;

  .step {
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 88px;

    p {
      font-weight: 500;
      font-size: 15px;
      color: $c-3-700;
      margin-bottom: 8px;
    }

    .ovSelect.active, &.active .ovSelect {
      position: absolute;
      left: 50%;
      top: 12%;
      display: inline-block;
      background: $c-1-300;
      height: 27px;
      width: 27px;
      border-radius: 50%;
      font-weight: 500;
      line-height: 25px;
      transform: translate(-50%, -50%);
    }

    &.active .bullet {
      z-index: 1;
      border-color: $c-1-550;
      background: $c-1-550;
    }

    .bullet {
      height: 21px;
      width: 20px;
      background: $c-1-300;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      transition: 0.2s;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      &.active, &.preg {
        z-index: 1;
        border-color: $c-1-550;
        background: $c-1-550;
      }
      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &.active span {
        display: none;
      }
      &:before, &:after {
        position: absolute;
        content: "";
        bottom: 9px;
        right: -185px;
        height: 3px;
        width: 185px;
        background: $c-1-300;
      }
      &.active:after {
        background: $c-1-500;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
      }
      &.backStep:after {
        transform: scaleX(1);
        transform-origin: left;
        animation: animate1 0.3s linear backwards;
      }
    }

    &:last-child .bullet {
      &:before, &:after {
        display: none;
      }
    }

    p.active, &.active p {
      color: $c-3-900;
      transition: 0.2s linear;
    }

    .check {
      position: absolute;
      left: 50%;
      top: 70%;
      font-size: 15px;
      transform: translate(-50%, -50%);
      display: none;

      &.active {
        display: block;
        color: #fff;
      }
    }
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes animate1 {
  100% {
    transform: scaleX(0);
    background: $c-1-500;
  }
}

@media only screen and (min-width: 616px) and (max-width: 1318px) {
  .headCrumbs {
    width: 483px;
    & .step .bullet:before, & .step .bullet:after {
      right: -142px;
      width: 142px;
    }
  }
}

@media screen and (max-width: 615px) {
  .headCrumbs {
    display: none;
  }

  .headMobile {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    & .steps {
      z-index: 4;
      display: flex;
      background: linear-gradient(to right, $c-1-500 50%, $c-1-300 50%) right bottom;
      background-size: 200% 100%;
      transition: all .5s ease-out;
      height: 28px;
      width: 106px;
      border-radius: 22px;
      &.active span{
        color: #fff;
      }
      &:nth-child(3) {
        & span {
          position: relative;
          right: 20px;
        }
        z-index: 1;
      }
      &:nth-child(2) {
        & span {
          position: relative;
          right: 20px;
        }
        z-index: 3;
      }
      &:nth-child(2):before, &:nth-child(3):before {
        z-index: 2;
        position: relative;
        content: "";
        height: 36px;
        top: -4px;
        left: -28px;
        width: 44px;
        border-radius: 73px;
        background: #fff;
      }
      &.active {
        background-position: left bottom;
      }
      & span {
        margin: auto;
        font-weight: 700;
        font-size: 17px;
        color: $c-3-700;
      }
    }
  }
}


@media screen and (max-width: 340px) {
  .headMobile .steps {
    width: 91px;
  }
}
