$c-1-800: #005345;
$c-1-700: #00816b;
$c-1-600: #00af90;
$c-1-550: #02d2ad;
$c-1-500: #00ddb6;
$c-1-400: #49e7cb;
$c-1-300: #92f0e0;
$c-1-200: #dbfaf5;
$c-1-100: #f1fdfb;

$c-3-900: #736d5e;
$c-3-800: #9a9487;
$c-3-700: #c0bbaf;
$c-3-600: #d5d2ca;
$c-3-500: #eae8e5;
$c-3-400: #f3f1f0;
